*{
    background-color: #1d3d1f;
    /* background: repeating-linear-gradient(
        45deg,
        #ffffff 0%,
        #ffffff 10%,
        #ff4f4f 0%,
        #ffffff 50%
      )
      0 / 15px 15px; */
}



#verbs-container{
    margin: 0 35%;
    background-color: #1d3d1f;
}

.verbs-answer{
    display: block;
    background-color: #1d3d1f;

}
  
.rightAnswer, .rightAnswer:hover{
    background-color: #6ab04c;
    border-color: #6ab04c;
    color: #ffffff;
}

.wrongAnswer, .wrongAnswer:hover{
    background-color: #B33030;
    border-color: #B33030;
    color: #ffffff;
}

#next{
    margin-top: 10rem;
    cursor: pointer;
    color: green;
}